.linkContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    width: 100%;
    
}
h2{
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    
    
    min-width: 400px;
    height: 60px;
    margin-top: 200px;
    

    
    text-decoration: none;
    font-family: 'pixel Emulator';
    
    filter: drop-shadow(6px 7px 16px rgba(132, 1, 137, 0.604));

    background: rgb(170, 39, 13);
    background: linear-gradient(180deg, rgb(217, 171, 4) 15%, rgb(200, 72, 17) 65%);
    
    background-clip: text;  
    -webkit-background-clip: text;
    color: transparent; 
   
    
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(97, 0, 136);




    font-size: 4rem;
    font-weight:400;
    text-decoration: none;
    z-index: 100;
    
}

@media only screen and (max-width: 800px){
   h2{

    font-size: 45px;
   } 
}

@media only screen and (max-width: 580px){
    h2{
        font-size: 30px;
        transform: translateY(30px) translateX(-50px);
    }

}