@font-face {
  font-family:'pixel Emulator' ;
  src: url('../fonts/Pixel Emulator.otf');
}

/* :root {
  
  
} */

html{scroll-behavior: smooth;}

body{
  overflow-x: clip;
  padding: 0;
  margin: 0;
   background-color: rgb(0, 0, 0);
  
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  
  
  
 p, h1, h2,h3{
   
  text-decoration: none;
  
  font-family: 'pixel Emulator','Courier New', Courier, monospace;
  
    filter: drop-shadow(6px 7px 16px rgba(132, 1, 137, 0.604));

    background: rgb(170, 39, 13);
    background: linear-gradient(180deg, rgb(217, 171, 4) 15%, rgb(200, 72, 17) 65%);
    
    background-clip: text;  
    -webkit-background-clip: text;
    color: transparent; 
   
    
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(97, 0, 136);





}
 }
  
 

#root{
  color: #000;
  overflow-x: clip;
}


.planets{
  position: absolute;
  z-index: -1000;
}

.sparkymirando{
  width: 500px;
  top:62vh;
  transform: rotateY(180deg);
  position:sticky;
}
.AppContainer{
z-index: -100;
display: flex;
flex-direction: column;
}