.backgroundImg{
    position: fixed;
    top: 0;
    opacity: .5;
    overflow: hidden;
    z-index: -1000;
    
}



@media only screen and (max-width: 800px){
    .backgroundImg{
        transform: rotate(90deg);
     }
  }
  
  
  @media only screen and (max-width: 580px){
    
    
  }
