.backgroundImg{
    position: fixed;
    top: 0;
    opacity: .4;
    z-index: -1000;
    
    
}



@media only screen and (max-width: 800px){
    .backgroundImg{
        transform: rotate(90deg), translateX(-100px);
        height: 100%;
        
        
     }
  }
  
  
  @media only screen and (max-width: 580px){
    
    
  }
