.backgroundImg{
    position: fixed;
    top: 0;
    opacity: .5;
    z-index: -1000;
    
}

/* .rotated{
    position: absolute;
} */


@media only screen and (max-width: 800px){
    .backgroundImg{
        transform: rotate(90deg), translateX(-100px);
        height: 100%;
        
        
     }
  }
  
  
  @media only screen and (max-width: 580px){
    
    
  }
